

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

body {
	background-color: white;
    max-width: 800px;
    align-items: center;
    margin:auto;
    text-align:center;
}

h1 {
    font-size: 50px;
    font-family: serif;
    font-weight: bold;
    font-style: italic;
}

.members {
  display: flex;
  flex-wrap: wrap;
}

.bandmember {
  flex: 1 0 21%;
  margin: 5px;
  height: 100px;
}

img.facebook {
	max-width: 10%;
	max-height: 10%;
}

img.instagram {
  max-width: 9%;
  max-height: 9%;
}

img.bandcamp {
	max-width: 9%;
	max-height: 9%;
}

img.bandmember {
	width: 45%;
	height: 50%;
}

img {
    max-width: 500px;
    max-height:500px;
}

.music {
    font-size: 20px;
    color:black;
}
table {
    width: 100%;
}

p,
h3,
td {
	color: black;
}

li {
  display: inline;
}

a{
  padding: 8px;

}

hr {

 border: 2px solid #CD48DC;
}

