

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

body {
	background-color: white;
    max-width: 900px;
    align-items: center;
    margin:auto;
    text-align:center;
}

h1 {
    font-size: 50px;
    font-family: serif;
    font-weight: bold;
    font-style: italic;
}

.banner{
  max-width: 600px;
}

.members {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.bandmember {
  flex: 1 0 21%;
  margin: 5px;
  height: 100px;
}

img.facebook {
	max-width: 10%;
	max-height: 10%;
}

img.instagram {
  max-width: 9%;
  max-height: 9%;
}

img.bandcamp {
	max-width: 9%;
	max-height: 9%;
}

img.bandmember {
	width: 45%;
	height: 50%;
}

section.press img{
  max-width: 800px;
  max-height: 1000px;
}

img {
    max-width: 500px;
    max-height:500px;
}


.music {
    font-size: 30px;
    font-family: 'Permanent Marker', cursive;
    display:block;
    justify-content:center;
    align-items: center;
  }
table {
    width: 100%;
}

p,
h3,
td,
th {
	color: black;
  font-family: 'Caveat', cursive;
  font-size:20px;
}

li {
  display: inline;
}




a{
  padding: 8px;
  font-size: 30px;
  color:#CD48DC;
  font-family: 'Caveat', cursive;
}


section{
  margin:30px;
}


.current_page{
  font-size: 25px;
  font-family: 'Permanent Marker', cursive;
}


audio {
    filter: sepia(50%) saturate(70%) grayscale(2) contrast(99%) invert(12%);
    width: 200px;
    height: 25px;

}

nav{
  border-bottom: 4px solid #CD48DC;
  border-top: 4px solid #CD48DC;
  border-radius: 10%;
}

footer {
  border-top: 4px double #CD48DC;
}

a:hover {
  font-size: 25px;
  font-family: 'Permanent Marker', cursive;
}

a img:hover {
  opacity: 0.5;
  transform:scale(1.1);
}

hr {
  display: none;
}

