

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box
}

body {
	background-image: url("images/knife.png");
	background-attachment:fixed;
    background-position: center top;
    background-repeat: no-repeat;
	color: blue;
    max-width: 500px;
    margin: auto;
}


img.facebook {
	max-width: 20%;
	max-height: 20%;
}

img.bandcamp {
	max-width: 18%;
	max-height: 18%;
}

img.bandmember {
	width: 45%;
	height: 50%;
}
img {
    max-width: 400px;
    max-height:400px;
}
.music {
    font-size: 20px;
    color: #AC33FF;
}

p,
h3 {
	color: grey;
}

section.releases {
	max-width: 10%;
	max-height: 10%;
}